.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modeSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modeSelect span {
  font-family: var(--type-second);
  font-weight: bold;
  font-size: 1rem;
  margin: 10px 0;
  text-transform: uppercase;
}

.modeInput {
  box-shadow: 0px 0px 0px 2px #eee, 0px 0px 0px 4px #333;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  background: #eee;
}

.modeInput button {
  font-family: var(--type-first);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #333;
  text-transform: uppercase;
  padding: 14px 24px 12px 24px;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

.modeInput button:hover {
  background: #d7d7d7;
  color: #333;
}
.modeInput button.active,
.modeInput button.active:hover {
  background: #4f772d;
  color: #eee;
}

.inputs {
  width: 100%;
}

.submit {
  font-family: var(--type-first);
  font-weight: bold;
  font-size: 2rem;
  padding: 14px 24px;
  text-transform: uppercase;
  background: #4f772d;
  color: #eee;
  border: none;
  border-radius: 5px;
}

.submit:hover {
  background: #446527;
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px rgba(79, 119, 45, 0.6);
}
