@import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Glegoo", serif;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  line-height: 1;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #4f772d;
}

.titulo-1 {
  text-align: center;
  font-family: var(--type-second);
  font-size: 4rem;
  color: #333;
  text-transform: uppercase;
  line-height: 1.2;
  max-width: 400px;
}

.titulo-2 {
  text-align: center;
  font-family: var(--type-second);
  font-size: 3rem;
  color: #fff;
}
