.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prev,
.next {
  padding: 10px;
  cursor: pointer;
}

.prev:hover svg path,
.next:hover svg path {
  fill: #4f772d;
}
